*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5ba13;
}

.logo {
  font-size: 1.5rem;
}

.search-bar {
  width: 60%;
  padding: 5px;
}

.profile-icon {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}



.main-content {
  flex-grow: 1;
}

.add-note input,
.add-note textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}
.label {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 3px;
  font-size: 0.8rem;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}
